<ion-header [translucent]="true">
  <ion-toolbar color="dark"> 
    <ion-title>
      Conheça o Espírito Santo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card>
    <ion-img src="assets/images/turismocap.png"></ion-img>
    <ion-card-header>
            <ion-card-title>Terra Maravilhosa</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify"> 
      O Espírito Santo, estado da região Sudeste do Brasil, conhecido por suas praias tropicais e áreas naturais montanhosas.
    </ion-card-content>
  </ion-card>  
</ion-content>
