<ion-header [translucent]="true">
  <ion-toolbar color="dark"> 
    <ion-title>
      Conheça o Espírito Santo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card>
    <ion-img src="assets/images/turismocap.png"></ion-img>
    <ion-card-header>
            <ion-card-title>Terra Maravilhosa</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify"> 
      O Espírito Santo, estado da região Sudeste do Brasil, conhecido por suas praias tropicais e áreas naturais montanhosas.
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>História</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Culinária</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="sparkles" slot="start"></ion-icon>
      <ion-label>Cultura</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>Famosos</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Localização</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Curiosidades</ion-label>
    </ion-item>
  </ion-card>


</ion-content>
